# CEN426 - Introduction to Machine Learning Task 5
---
The student must use the Multi-Layer Perceptron Neural Network model to make a decision on two sample datasets (one for regression and one for classification), then interpret the results.

### Student Name: Furkan Çetinkaya \<furkan.cetinkaya@outlook.com.tr\>
### Student ID: 2016556017

In [1]:
import pandas as pd
import numpy  as np
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import KFold

## Read Classification Dataset and Preprocess It
---
Fashion MNIST Dataset: https://www.kaggle.com/zalando-research/fashionmnist

In [2]:
X1 = pd.read_csv('fashion-mnist_train.csv')[:1000]  # Read the Fashion MNIST dataset

In [3]:
X1

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,1,0,0,0,0,0,0,0,0,0,...,164,0,0,0,0,0,0,0,0,0
997,4,0,0,0,0,0,0,0,0,1,...,0,0,0,0,170,193,11,0,0,0
998,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,1,0,0,0,0,0,0,0,0,0,...,138,0,0,0,0,0,0,0,0,0

In [4]:
y1 = X1['label']                                     # Save label into y
X1 = X1.drop('label', axis=1)                        # Drop label from X

X1 = X1.astype('float32')                            # Convert colors into Greyscale
X1 /= 255

y1 = y1.astype('category')                           # Convert labels into categories
X1

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.019608,0.000000,0.000000,...,0.000000,0.0,0.0,0.117647,0.168627,0.000000,0.000000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.003922,0.007843,0.0,0.0,0.000000,0.000000,0.000000,...,0.011765,0.0,0.0,0.000000,0.000000,0.003922,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
996,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.047059,...,0.643137,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
997,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.003922,0.000000,...,0.000000,0.0,0.0,0.000000,0.666667,0.756863,0.043137,0.0,0.0,0.0
998,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
999,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.541176,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0

## Train and predict on Multi-Layer Perceptron Classifier

In [5]:
k = 2
kfold = KFold(n_splits=k, shuffle=True)

foldNo = 1
for train_idx, test_idx in kfold.split(X1, y1):
    X_train, y_train, X_test, y_test = X1.iloc[train_idx], y1[train_idx], X1.iloc[test_idx], y1[test_idx]
    mlpcModel = MLPClassifier(random_state=1, max_iter=300)
    mlpcModel.fit(X_train, y_train)
    prediction = mlpcModel.predict(X_test)
    score = mlpcModel.score(X_test, y_test)
    print(f"Fold: {foldNo}, \tClassification Prediction Accuracy: {score}")
    foldNo += 1

Fold: 1, 	Classification Prediction Accuracy: 0.79
Fold: 2, 	Classification Prediction Accuracy: 0.786

---

## Read Regression Dataset and Preprocess It
---
Red WineQuality Dataset: https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009

In [6]:
X2 = pd.read_csv('winequality-red.csv')
X2

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [7]:
y2 = X2['quality']
X2 = X2.drop('quality', axis=1)
X2

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

## Train and predict on Multi-Layer Perceptron Regressor

In [8]:
k = 2
kfold = KFold(n_splits=k, shuffle=True)

foldNo = 1
for train_idx, test_idx in kfold.split(X2, y2):
    X_train, y_train, X_test, y_test = X2.iloc[train_idx], y2[train_idx], X2.iloc[test_idx], y2[test_idx]
    mlprModel = MLPRegressor(random_state=1, max_iter=500)
    mlprModel.fit(X_train, y_train)
    prediction = mlprModel.predict(X_test)
    score = mlprModel.score(X_test, y_test)
    print(f"Fold: {foldNo}, \tRegression Prediction Accuracy: {score}")
    foldNo += 1

Fold: 1, 	Regression Prediction Accuracy: 0.32514281832604486
Fold: 2, 	Regression Prediction Accuracy: 0.3336580327782339